@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
*{margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color: #555;}
li{list-style: none;}
html, body{position: relative; top: 0; left: 0; overflow-x: hidden;}


.chat-icons{position: fixed; bottom: 5%; right: 20px; width: auto; height: auto; z-index: 9999;}
.chat-icons a{display: block;}
.plus-chat{position: relative; width: 50px; right: 0; float: right; margin-bottom: 10px; height: 50px; border-radius: 50%; background: #022831;}
.plus-chat::before{position: absolute; content: ''; width: 20px; height: 2px; top: 23px; left: 15px; background: #fff; display: inline-block;}
.plus-chat::after{position: absolute; content: ''; width: 2px; height: 20px; left: 24px; top: 14px; background: #fff; display: inline-block;}
.contact-chat{width: 60px; height: 60px; clear: both; border-radius: 50%; background: #10c0b2;}
.contact-chat::before{content: ''; margin-top: 13px; margin-left: 13px; display: inline-block; width: 34px; height: 34px; background: url(../img/icons/ch-new-launcher-icon-68.png); background-size: 136px auto;}

.open-menu-bg{visibility: hidden; background: rgba(0, 0, 0, 0.158); width: 100%; top: 0; bottom: 0; z-index: 10; position: fixed;}
.open-menu{position: fixed; transition: all 0.4s; right:-100%; width: 100%; top: 0; z-index: 999; bottom: 0; background: #fff;}

.login-box{width: 100%; height: 180px; padding-top: 40px; background: #50c1b8;}
.login-box span{color: #fff; cursor: pointer; position: absolute; font-size: 30px; top: 3px; right: 20px;}
.login-box .login{width: 92%; margin: auto; display: block; color: #fff;}
.login-box .login::before{content: ''; margin-top: -4px; margin-right: 10px; background: url(../img/icons/mo_ham_login.png) no-repeat; vertical-align: middle; background-size: 25px 25px; width: 25px; height: 25px; display: inline-block;}
.login-box .login::after{background: url(../img/icons/icon_link_w.png) no-repeat; margin-left: 20px; display: inline-block; background-size: 20px auto; width: 30px; height: 10px; content: '';}

.login-box p{display: inline-block; color: #fff;}

.join{width: 92%; margin:20px auto 0; color: #fff; }
.join p{font-size: 14px; padding-bottom: 20px;}
.join a{display: inline-block; color: #fff; margin-right: 20px; font-size: 14px; border: 1px solid #fff; padding: 5px 15px; border-radius: 50px;}

.icon-box{width: 85%; margin: auto; display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; padding: 20px 0;}
.icon-box a p{font-size: 14px; margin-top: 5px;font-weight: 500;}
.icon-box a{ width: 65px; display: block;}
.icon-box a div{border: 1px solid #ccc; width: 60px; height: 60px; border-radius: 50%; display: flex; align-items: center; justify-content: center;}
.icon-box a div img{height: 24px;}

.drop-menu{width: 100%; height: auto;}
.drop-menu-wrap{width: 100%;}
.drop-menu-wrap li:nth-child(1){border: none;}
.drop-menu-wrap li{background: #eee; padding: 13px 20px; position: relative; border-top: 1px solid rgb(224, 224, 224); box-sizing: border-box;}
.drop-menu-wrap li a{font-size: 20px; color: #000;}
.drop-menu-wrap li a::before{position: absolute; top: 20px; right: 20px;  content: ''; display: inline-block; width: 17px; height: 1px; background: #777;}
.drop-menu-wrap li a::after{position: absolute;  right: 28px; content: ''; display: inline-block; width: 1px; height: 17px; background: #777;}




header.on .banner-event{display: none;}
.banner-event{width: 100%;}
.banner-event a img{width: 100%; display: block;}
header.on{border-bottom: 1px solid #eee;}
header{width: 100%; height: auto;  background: #fff; position: fixed; top: 0; z-index: 999;}
.menu{width: 92%; margin: 0 auto; line-height: 80px; height: 80px; display: flex; justify-content: space-between; align-items: center;}



.top-left a img{height: 30px; display: block;}


.top-mid a img{height: 55px; display: block;}

.top-right{width: 30px; height: 30px; opacity: 0.8;}
.top-right button{width: 100%; height: 100%; outline: none; cursor: pointer; display: block; border: none; background: none;}
.top-right button img{height: 25px; margin-top: 2px; display: inline-block;}


.main-banner{margin-bottom: 140px; padding-top: 136px; box-sizing: border-box; position: relative; height: auto;}

.banner-slider-wrap .swiper-slide-active{filter: brightness(100%) !important;}
.banner-slider-wrap .swiper-slide{filter: brightness(70%); transition: all .4s;}
.slide{width: 100%; height: auto; position: relative; }

.slide-info{position: absolute; left: 5%; top: 10%;}
.info-sub{color: rgb(56, 56, 56); font-size: 12px; font-weight: 500; letter-spacing: 1.5px;}
.info-tit{margin:10px 0px 30px 0px; color: rgb(17, 17, 17); font-size: 27px; line-height: 35px;}
.info-tit b{font-weight: 500;}

.info-tit2{margin:10px 0px 30px 0px; color: rgb(17, 17, 17); font-weight: 300; font-size: 27px; line-height: 35px;}
.info-tit2 b{font-weight: 500;}

.info-name{color: #777; font-size: 14px; font-weight: 600;}
.info-name2{color: #777; font-size: 14px; font-weight: 400;}
.slide-info a{border: 1px solid #777; margin-top: 60px; padding: 10px 50px; display: inline-block; text-align: center;}

.slide img{width: 100%; display: block;}

.slide-button{position: absolute; z-index: 99; text-align: center; bottom: -45px; width: 50%; height: 90px; background: #10c0b2;}
.slide-button span{color: #fff; outline: none; transition: all 0.4s; line-height: 90px; position: relative; font-size: 20px; padding:0 10px; display: inline-block; font-weight: bold;}
.slide-button span:hover{opacity: 0.8;}
.slide-button span.on{}

.swiper-pagination-bullet-active:after{content: ''; color: #fff; opacity: 1; margin: 0 auto; display: inline-block; position: absolute; transform: rotate(-45deg); left: 0; right: 0; top: 20px; width: 8px; height: 8px; background: #fff;}
.swiper-pagination-bullet{width: auto; height: auto; background: none;}


.product-slider{width: 92%; margin: 0 auto 40px;}
.title{text-align: center; font-size: 30px; font-weight: 500;}
.select{text-align: center;}
.select a.active{border-bottom: 2px solid #10c0b2; color:  #10c0b2;}
.select a{border-bottom: 2px solid transparent; color: #777; font-weight: 500; padding: 4px 0; background: none; outline: none; font-size: 20px; display: inline-block; margin: 20px 10px 40px;}


.slide2{width: 45%; height: auto;}
.slide2-img{width: 100%; display:block; border: 1px solid #eee;}

.title-box{min-height: 62px; width: 100%;}
.tit1{font-size: 10px; font-weight: bold; color: #000;}
.tit2{font-size: 14px;  color: #000; margin-bottom: 20px;}

.slide-info2 span{font-size: 14px; font-weight: 700; letter-spacing: -1px; display: inline-block; margin-bottom: 20px; color: #777;}

.info-icons{display: flex;}
.cart{border: 1px solid #ccc; text-align: center; width: 40px; height: 40px; margin-right: 4px; display: flex; align-items: center;}
.cart img{height: 20px; margin: auto;}
.pay{border: 1px solid #ccc; text-align: center; width: 40px; height: 40px; display: flex; align-items: center;}
.pay img{height: 15px; margin: auto; opacity: 0.7;}



.recommend-product{background: #f9f9f9;}
.product-wrap{width: 100%; margin: 0 auto;}
.title2{font-size: 30px; font-weight: 300; padding: 40px 0 30px; line-height: 38px; width: 92%; margin: 0 auto;}
.title2 b{font-weight: 500;}

.select2{width: 100%; padding: 0 25px; box-sizing: border-box; text-align: center; font-size: 0; margin-bottom: 10px;}
.select2 a.active{border-bottom: 2px solid #10c0b2; color:  #10c0b2;}
.select2 a{ border-bottom: 2px solid transparent; width: 33.3%; color: #777; font-weight: 500; padding: 4px 0; background: none; outline: none; font-size: 20px; display: inline-block; }

.product-box{width: 100%; overflow: hidden; padding-left: 25px; padding-right: 15px; box-sizing: border-box; margin: 0 auto;}
.product{width: 50%; float: left; padding-right: 10px; box-sizing: border-box; margin-bottom: 10px;}

.product .slide2-img{border: none;}

.more-btn{text-align: center; padding: 40px 0 40px;}
.more-btn button{border: 0; background: none; outline: none; cursor: pointer;}
.more-btn button img{height: 50px;}




.review{background: #f9f9f9; padding-bottom: 20px; box-sizing: border-box;}
.review-slider-wrap{width: 79%;}
.review-slider-wrap li{background: #fff; height: 450px; text-align: center; box-sizing: border-box; padding: 30px;}
.pr-img-box{width: 200px;  height: 200px; border-radius: 50%; overflow: hidden; display: inline-flex; justify-content: center;}
.pr-img-box img{height:100%; display: block;}
.review-info{padding-top: 10px;}
.review-info span{font-size: 15px; font-weight: bold; color: inherit;}
.span-bf::before{content: ''; width: 2px; height: 12px; margin: 3px 6px 0px 5px; display: inline-block; background: #000;}
.star{color: rgb(255, 187, 0); margin-bottom: 15px;}
.contents{font-size: 13px; color: #777; display:inline-block; width:100%; height: 60px; overflow: hidden;}


.more-info{text-align: center; display: block; margin: 40px 0;}
.more-info span{position: relative; font-weight: 500; width: 200px; text-align: left; padding-bottom: 10px; border-bottom: 1px solid; display: inline-block;}
.more-info span::before{content: ''; width: 20px; height: 20px; position: absolute; top: 5px; right: 0; background: url(../img/icons/main_timesale_arrow.png) no-repeat; background-size: 20px auto;}




.membership{height: auto; padding-bottom: 35px; box-sizing: border-box;}
.membership .title2{font-size: 32px;}
.title2-sub{width: 92%; margin: -15px auto 0;}

.membership-banner{ width: 92%; margin: 25px auto 0; height: 360px; background: #e3f0f5;}
.membership-banner-img{text-align: center;}
.membership-banner-img img{ margin: 25px auto 0;}
.membership-banner-img .face{height: 210px;}
.membership-banner-img .text{height: 28px;}


.membership-go{text-align: center;}
.membership-go a{line-height: 30px; height: 30px; margin-top: 10px; display: inline-block;}
.membership-go a span{display: inline-block;}
.membership-go a span img{height: 13px;}
.membership-go a span::before{content: ''; vertical-align: middle; display: inline-block; margin: 0 15px; width: 1px; height: 35px; background: #000;}

.membership-slide{width: 92%; margin: 50px auto 0; position: relative;}

.ms-wrap{display: flex; width: 800px;}
.ms-wrap .slide{ padding-bottom: 40px; box-sizing: border-box; width: 200px;}

.ms-wrap .slide img{opacity: 0.4; width: auto; display: block;   height: 65px;}
.ms-wrap .slide h1{margin-top: 20px; font-size: 16px; color: #0b4c4a;}
.ms-wrap .slide p{font-size: 14px; color: #343434; font-weight: 200; margin-top: 10px;}
.scrollber{opacity: 1 !important; bottom: -8px !important;}


.rejuran{background: #f7f7f7; box-sizing: border-box; padding-bottom: 50px;}
.rj-title{text-align: center; margin-top: 20px;}
.rj-title h1{font-weight: 500; font-size: 32px;}
.rj-title p{color: #555; font-size: 14px; margin-top: 10px; font-weight: 500;}

.rejuran-img-box{text-align: center; overflow: hidden; width: 92%; margin: auto;}
.rejuran-img-box p{width: 210px; border-radius: 50px; line-height: 33px; margin:30px auto 40px; font-weight: 500; font-size: 13px; color: rgba(255,255,255,0.7); background:#022831;}

.rejuran-img{width: 33.333%; float: left; box-sizing: border-box; padding: 5px;}
.rejuran-img img{width: 100%; display: block;}



.sns-page{padding: 50px 0;}
.sns-page p{text-align: center; font-size: 16px; font-weight: 500;}
.sns-page .line-b{width: 1px; height: 40px; background: black; margin: 15px auto;}

.sns-box{display: flex; width: 230px; margin: auto; justify-content: space-between;}
.sns-box>div{box-sizing: border-box; width: 70px; height: 70px; display: flex; justify-content: center; align-items: center; border-radius: 50%; background: #eee;}
.sns-box>div img{height: 30px;}


footer{background: #50c1b8; color: #fff;}
.section1{width: 100%; box-sizing: border-box; padding: 17px 0 17px 4%; margin: 0 auto; border-bottom: 1px solid rgba(255, 255, 255, 0.425);}
.section1 a{color: #fff; font-size: 14px; margin-right: 10px;}


.section2{width: 92%; margin: auto; color: #fff; padding: 20px 0; box-sizing: border-box;}
.section2 .info{font-size: 13px; line-height: 24px;}
.section2 .info a{color: #fff; font-weight: bold;}
.section2 .tell{font-size: 20px; padding-bottom: 5px;}

.section3{width: 92%; margin: auto; padding-bottom: 30px;}
.section3 a{display: block; font-size: 24px; letter-spacing: 1px; color: #fff;}

.copy{font-size: 11px; text-transform: uppercase; border-top: 1px solid rgba(255, 255, 255, 0.425); text-align: center; padding: 20px 0;}

